<!-- templates/base.html -->

{% load static %}
{% load tailwind_tags %}
{% load crispy_forms_tags %}
{% load i18n %}  <!-- Asegúrate de cargar la etiqueta i18n -->

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" class="bg-light_red font-spline inset-0 mx-5">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% trans 'Mi Sitio Web' %}{% endblock %}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/dist/styles.css' %}"> -->
    {% tailwind_css %}
</head>

<body class="bg-light_red font-spline m-0 p-0 flex flex-col min-h-screen mt-5">

    <header class="text-custom_black mb-5">
        <div class="flex justify-between items-center bg-light_salmon rounded-lg border-2 border-custom_black py-3 px-5">
            <h1 class="text-2xl font-bold py-3">{% trans 'Gluco Control App' %}</h1>

            <!-- Selección de idioma y botón de hamburguesa para pantallas pequeñas y medianas -->
            <div class="flex items-center space-x-6 lg:hidden">
                <div class="relative inline-block text-left">
                    <button type="button"
                        class="border border-custom_black inline-flex justify-center w-full rounded-md shadow-sm px-4 py-2 bg-light_salmon text-xl font-medium text-custom_black hover:bg-bright_red"
                        id="language-button-sm" aria-expanded="false" aria-haspopup="true">
                        <i class="fas fa-language"></i>
                    </button>
                    <div class="border border-custom_black origin-top-right absolute right-0 mt-2 w-56 rounded-lg shadow-lg bg-light_salmon ring-1 ring-black ring-opacity-5 focus:outline-none hidden"
                        id="language-menu-sm" role="menu" aria-orientation="vertical" aria-labelledby="language-button-sm" tabindex="-1">
                        <div class="py-1" role="none">
                            <a href="#" data-language-code="en" class="text-custom_black block px-4 py-2 text-sm hover:underline language-link" role="menuitem" tabindex="-1"
                                id="menu-item-0-sm">English</a>
                            <a href="#" data-language-code="es" class="text-custom_black block px-4 py-2 text-sm hover:underline language-link" role="menuitem" tabindex="-1"
                                id="menu-item-1-sm">Español</a>
                        </div>
                    </div>
                </div>
                <button id="burger-menu" class="text-2xl text-custom_black focus:outline-none rounded-lg p-1">
                    &#9776;
                </button>
            </div>

            <!-- Menú desplegable para pantallas pequeñas y medianas -->
            <nav id="navbar"
                class="hidden lg:hidden absolute right-5 top-10 mt-16 sm:mt-12 bg-light_salmon rounded-lg border-2 border-custom_black p-3">
                <ul class="flex flex-col space-y-2">
                    <li><a href="{% url 'home' %}" class="text-lg hover:underline">{% trans 'Inicio' %}</a></li>
                    <li><a href="{% url 'add_glucose_reading' %}" class="text-lg hover:underline">{% trans 'Añadir' %}</a></li>
                    <li><a href="{% url 'glucose_readings' %}" class="text-lg hover:underline">{% trans 'Lecturas' %}</a></li>
                    <li><a href="{% url 'glucose_chart' %}" class="text-lg hover:underline">{% trans 'Gráficas' %}</a></li>
                    <li>
                        {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="hover:bg-bright_red rounded-lg py-2 px-6">{% trans 'Salir' %}</a>
                        {% else %}
                        <a href="{% url 'login' %}" class="hover:bg-bright_red rounded-lg py-2 px-6">{% trans 'Acceder' %}</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>

            <!-- Enlaces del navbar para pantallas grandes -->
            <nav id="navbar-large" class="hidden lg:flex lg:flex-row lg:items-center lg:justify-end">
                <ul class="lg:flex lg:space-x-12 items-center">
                    <li><a href="{% url 'home' %}" class="text-lg hover:underline">{% trans 'Inicio' %}</a></li>
                    <li><a href="{% url 'add_glucose_reading' %}" class="text-lg hover:underline">{% trans 'Añadir' %}</a></li>
                    <li><a href="{% url 'glucose_readings' %}" class="text-lg hover:underline">{% trans 'Lecturas' %}</a></li>
                    <li><a href="{% url 'glucose_chart' %}" class="text-lg hover:underline">{% trans 'Gráficas' %}</a></li>
                    <li>
                        <div class="hidden md:flex items-center space-x-1">
                            <div class="relative inline-block text-left">
                                <div>
                                    {% if user.is_authenticated %}
                                    <a href="{% url 'logout' %}" class="border border-custom_black inline-flex justify-center w-full rounded-md shadow-sm px-4 py-2 bg-light_salmon text-sm font-medium text-custom_black hover:bg-bright_red">{% trans 'Salir' %}</a>
                                    {% else %}
                                    <a href="{% url 'login' %}" class="hover:bg-bright_red rounded-lg py-2 px-4">{% trans 'Acceder' %}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="hidden md:flex items-center space-x-1">
                            <div class="relative inline-block text-left">
                                <div>
                                    <button type="button"
                                        class="border border-custom_black inline-flex justify-center w-full rounded-md shadow-sm px-4 py-2 bg-light_salmon text-xl font-medium text-custom_black hover:bg-bright_red"
                                        id="language-button" aria-expanded="false" aria-haspopup="true">
                                        <i class="fas fa-language"></i>
                                    </button>
                                </div>
                                <div class="border border-custom_black origin-top-right absolute right-0 mt-2 w-56 rounded-lg shadow-lg bg-light_salmon ring-1 ring-black ring-opacity-5 focus:outline-none hidden"
                                    id="language-menu" role="menu" aria-orientation="vertical" aria-labelledby="language-button" tabindex="-1">
                                    <div class="py-1" role="none">
                                        <a href="#" data-language-code="en" class="text-custom_black block px-4 py-2 text-sm hover:underline language-link" role="menuitem" tabindex="-1" id="menu-item-0">English</a>
                                        <a href="#" data-language-code="es" class="text-custom_black block px-4 py-2 text-sm hover:underline language-link" role="menuitem" tabindex="-1" id="menu-item-1">Español</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="flex-1">
        {% block content %}{% endblock %}

        <form action="{% url 'set_language' %}" method="post" id="language-form">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <input type="hidden" name="language" id="language-input">
        </form>
        
    </main>

    <footer class="mb-5">
        <div class="flex justify-between items-center bg-light_salmon rounded-lg border-2 border-custom_black px-5 py-5">
            <h2 class="text-custom_black">{% trans 'Javier Cordero' %}</h2>
            <h2 class="text-custom_black ml-auto">{% trans 'Gluco Control App' %}</h2>
        </div>
    </footer>

    <!-- Resto del código HTML y JavaScript aquí -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Listener para el botón de hamburguesa en pantallas pequeñas y medianas
            const burgerMenuButton = document.getElementById("burger-menu");
            const navbarMenu = document.getElementById("navbar");
            const languageButton = document.getElementById("language-button");
            const languageMenu = document.getElementById("language-menu");
            const languageButtonSm = document.getElementById("language-button-sm");
            const languageMenuSm = document.getElementById("language-menu-sm");

            if (burgerMenuButton && navbarMenu) {
                burgerMenuButton.addEventListener("click", function() {
                    navbarMenu.classList.toggle("hidden"); // Toggle para mostrar/ocultar el menú principal
                    languageMenu.classList.add("hidden"); // Asegura que el menú de idiomas esté oculto al abrir el menú principal
                    languageMenuSm.classList.add("hidden"); // Asegura que el menú de idiomas esté oculto al abrir el menú principal en pantallas pequeñas y medianas
                });
            }

            // Listener para el botón de idioma en pantallas grandes
            if (languageButton && languageMenu) {
                languageButton.addEventListener("click", function() {
                    languageMenu.classList.toggle("hidden"); // Toggle para mostrar/ocultar el menú de idiomas
                    navbarMenu.classList.add("hidden"); // Asegura que el menú principal esté oculto al abrir el menú de idiomas
                    languageMenuSm.classList.add("hidden"); // Asegura que el menú de idiomas esté oculto al abrir el menú de idiomas en pantallas pequeñas y medianas
                });

                // Escuchar clics en los enlaces de idioma en pantallas grandes
                const languageLinks = document.querySelectorAll("#language-menu .language-link");
                languageLinks.forEach(function(link) {
                    link.addEventListener("click", function(event) {
                        event.preventDefault();
                        const languageCode = this.getAttribute("data-language-code");
                        document.getElementById("language-input").value = languageCode;
                        document.getElementById("language-form").submit();
                    });
                });
            }

            // Listener para el botón de idioma en pantallas pequeñas y medianas
            if (languageButtonSm && languageMenuSm) {
                languageButtonSm.addEventListener("click", function() {
                    languageMenuSm.classList.toggle("hidden"); // Toggle para mostrar/ocultar el menú de idiomas
                    navbarMenu.classList.add("hidden"); // Asegura que el menú principal esté oculto al abrir el menú de idiomas en pantallas pequeñas y medianas
                    languageMenu.classList.add("hidden"); // Asegura que el menú de idiomas esté oculto al abrir el menú de idiomas en pantallas grandes
                });

                // Escuchar clics en los enlaces de idioma en pantallas pequeñas y medianas
                const languageLinksSm = document.querySelectorAll("#language-menu-sm .language-link");
                languageLinksSm.forEach(function(link) {
                    link.addEventListener("click", function(event) {
                        event.preventDefault();
                        const languageCode = this.getAttribute("data-language-code");
                        document.getElementById("language-input").value = languageCode;
                        document.getElementById("language-form").submit();
                    });
                });
            }

            // Función para cerrar el menú desplegable de idiomas si se hace clic fuera de él
            function closeLanguageMenuOnClickOutside() {
                const languageMenu = document.getElementById("language-menu");
                const languageButton = document.getElementById("language-button");
                const languageMenuSm = document.getElementById("language-menu-sm");
                const languageButtonSm = document.getElementById("language-button-sm");
                const burgerMenuButton = document.getElementById("burger-menu");

                document.addEventListener("click", function(event) {
                    const isClickInsideLanguageMenu = languageMenu.contains(event.target) || languageButton.contains(event.target);
                    const isClickInsideLanguageMenuSm = languageMenuSm.contains(event.target) || languageButtonSm.contains(event.target);
                    const isClickInsideBurgerMenu = burgerMenuButton.contains(event.target);

                    if (!isClickInsideLanguageMenu && !isClickInsideLanguageMenuSm && !isClickInsideBurgerMenu) {
                        languageMenu.classList.add("hidden");
                        languageMenuSm.classList.add("hidden");
                        navbarMenu.classList.add("hidden");
                    }
                });
            }

            // Llama a la función para cerrar el menú de idiomas cuando se hace clic fuera de él
            closeLanguageMenuOnClickOutside();

        });
    </script>
</body>

</html>
