<!-- glucoapp/templates/glucose_readings.html -->

{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Your Glucose Readings</h2>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Level</th>
                <th scope="col">Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for reading in readings %}
            <tr>
                <td>{{ reading.date }}</td>
                <td>{{ reading.level }}</td>
                <td>{{ reading.notes }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
