# ==== Entornos virtuales Python ====
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# ==== Archivos compilados de Python ====
*.py[cod]
__pycache__/
*/__pycache__/
*.so
*.egg-info/
.eggs/
*.egg
.Python
pip-log.txt
pip-delete-this-directory.txt

# ==== Logs ====
*.log

# ==== Archivos de bases de datos locales ====
db.sqlite3
db.sqlite3-journal

# ==== Archivos de configuración locales ====
local_settings.py

# ==== Archivos de pruebas y cobertura ====
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
.tox/
.nox/
hypothesis/

# ==== Configuración de IDEs ====
.idea/
.vscode/
.history/
.spyderproject
.spyproject
.ropeproject

# ==== Documentación generada ====
docs/_build/
site/

# ==== node / npm ====
node_modules/
glucoapp/node_modules/
package-lock.json
glucoapp/package-lock.json

# ==== Tailwind CSS compilado ====
glucoapp/static/css/dist/

# ==== Otros estáticos generados ====
glucoapp/static/
glucoapp/static_src/
glucoapp/static_nginx/
staticfiles/
exports/

# ==== Django migrations (si son solo para desarrollo) ====
glucoapp/migrations/

# ==== Archivos de exportaciones o backups ====
*.bak
