@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'spline';
  src: url('/static/fonts/SplineSansMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: 'spline';
  src: url('/static/fonts/SplineSansMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'spline';
  src: url('/static/fonts/SplineSansMono-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

.asteriskField {
  display: none;
}

@media (max-width: 768px) {
  .table-container {
      overflow-x: auto;
  }
  table {
      min-width: 600px; /* Ajusta este valor según sea necesario */
  }
  th, td {
      white-space: nowrap;
  }
}
