@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'spline';
    src: url('/glucoapp/static/fonts/SplineSansMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'spline';
    src: url('/static/glucoapp/fonts/SplineSansMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'spline';
    src: url('/glucoapp/static/fonts/SplineSansMono-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }